.header__logo {
  max-width: 142px;
  align-self: start;
  margin-bottom: 40px;
}

@media screen and (max-width: 907px) {
  .header__logo {
    max-width: 103.74px;
    margin: 0 27px;
    margin-bottom: 30px;
  }
} 