.profile__edit-profile-button {
  background: url(../../../images/edit-button.svg);
  border: 0;
  margin-left: 18px;
  margin-top: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile__edit-profile-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 907px) {
  .profile__edit-profile-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 8px;
  }
} 