.popup__button {
  margin: 48px 0 37px 0;
  border: 0;
  border-radius: 2px;
  min-width: 358px;
  min-height: 50px;
  background-color: black;
  padding: 0;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 907px) {
  .popup__button {
    min-width: 238px;
    min-height: 46px;
    margin: 45px 0 25px 0;
    font-size: 14px;
  }
} 