.profile__add-button {
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  margin: 0 0 0 auto;
  align-self: center;
  min-width: 150px;
  min-height: 50px;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 2px;;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 907px) {
  .profile__add-button {
    background-size: 16px;
    width: 100%;
    margin: 0 19px;
  }
} 