.profile__description {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
}

@media screen and (max-width: 907px) {
  .profile__description {
    margin-bottom: 33px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }
} 