.profile__description {
  margin: 0;
  margin-bottom: 14px;
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 907px) {
  .profile__description {
    max-width: 282px;
    margin-bottom: 33px;
    margin-top: 6px;
    font-size: 14px;
    text-align: center;
  }
} 