.popup__fields {
  padding: 0;
  margin: 20px 36px 0 36px;
  min-width: 358px;
  border: 0;
}

@media screen and (max-width: 907px) {
  .popup__fields {
    min-width: 238px;
    margin: 45px 22px 0 22px;
  }
} 