.footer__row {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
  margin-top: 67px;
}

@media screen and (max-width: 907px) {
  .footer__row {
    margin-top: 48px;
    max-width: 100%;
    margin-left: 19px;
    padding-bottom: 36px;
  }
} 