.cards__like {
  background: url(../../../images/cards/like__unactive.svg);
  min-width: 22px;
  min-height: 19px;
  background-repeat: no-repeat;
  margin: 5px 5px auto auto;
  cursor: pointer;
  border: 0;
}

.cards__like:hover {
  opacity: 0.5;
}